@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    27 Webpage Road<br />
    Nowhere NSW 2997<br />
    <abbr title="Phone">P:</abbr>
    0413 099 240
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:jchandler@live.com.au">jchandler@live.com.au</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>